@page "{restaurantId:int}"
@model OdeToFood.Pages.Restaurants.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Editing @Model.Restaurant.Name</h2>
<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />     <!--asp-for serves both for the name parameter to bind the textbox to that variable and value to bind the variable to the Textbox-->
    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>       <!--asp-for serves as the for variable in label-->
        <input asp-for="Restaurant.Name" class="form-control" />             <!--asp-for serves both for the name, value and type parameter(which in this case it will infer as String since Name is of String Type) -->
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location"></label>       <!--asp-for serves as the for variable in label-->
        <input asp-for="Restaurant.Location" class="form-control" />             <!--asp-for serves both for the name, value and type parameter(which in this case it will infer as String since Location is of String Type) -->
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Cuisine"></label>       <!--asp-for serves as the for variable in label-->
        <select class="form-control" asp-for="Restaurant.Cuisine"
                asp-items="Model.Cuisines">
            <!--Note that rather than using html.GetEnumSelectList<CuisineType> in asp-items we have used a Model as it becomes easier to manipulate in code later on if needed rather than doing it at html side(messy)-->
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<a href="C:\Users\derricknazareth\source\repos\OdeToFood\Pages\Restaurants\List.cshtml.cs">C:\Users\derricknazareth\source\repos\OdeToFood\Pages\Restaurants\List.cshtml.cs</a>