@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
}
<h1>Restaurants</h1>
<form method="get" >
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/> <!--asp-for Does a 2-Way Binding i.e. Links the Data of the TextBox to the Variable as well as Output Valus of Variable back to the Text Box -->
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i> 
                </button>
            </span>
        </div>
    </div>
</form>

@foreach (var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />      <!--Since Summary is within the same Folder it can be accessed by all Pages within it. If we placed it in the Shared Folder it could be shared by all.-->
}

<a asp-page=".\Edit" class="btn btn-primary">Add New</a>
<br /><br />
<div>@Model.Message</div>

@section footer{
<div>A trademark of OdeToFood. An Ode to Scott Allen</div>
 } 